<div class="legend">
	<h3>{{"legend"|translate}}</h3>
	<div class="legend-container">
		<div class="legend-box legend-offer">
			<div class="legend-color legend-offer-color"></div>
			<span>{{"Offer"|translate}}</span>
		</div>
		<div class="legend-box legend-demand">
			<div class="legend-color legend-demand-color"></div>
			<span>{{"Demand"|translate}}</span>
		</div>
		<div class="legend-box legend-both">
			<div class="legend-color legend-both-color"></div>
			<span>{{"Offer & Demand"| translate}}</span>
		</div>
	</div>
</div>

