<div class="transactions">
    <div class="title">{{"last few transactions" | translate}}</div>
    <div class="transaction-wrapper">
        <div class="transaction" *ngFor="let transaction of transactions">

            <div class="title">{{ transaction.title | translate }}</div>
            <div class="shop-location">
                <div class="shop">{{ transaction.shop }}</div>
            </div>
            <div class="status" [ngClass]="{
          confirmed: transaction.status === 'confirmed',
          pending: transaction.status === 'pending'
        }">
                {{ transaction.status | translate}}
            </div>
        </div>
    </div>
</div>