<div class="page-header">
    <div class="bosch-logo tef46-logo-container">

    </div>

    <h1 class="title">Real-Time Workforce Allocation</h1>


</div>
<div class="feedback-btn-container">
    <div class="feedback-btn">
        <div class="icon-container">
            <a href="" target="_blank" rel="noopener">
                <img src="assets/img/education.jpg" alt="Link Icon">
            </a>
            <span class="tooltiptext">Learn more about this project</span>
        </div>
        <div class="icon-container">
            <a href="" target="_blank" rel="noopener">
                <img src="assets/img/service-agent.jpg" alt="Link Icon">
            </a>
            <span class="tooltiptext">Need support?</span>
        </div>
        <div class="icon-container">
            <a href="" target="_blank" rel="noopener">
                <img src="assets/img/lightbulb.jpg" alt="Link Icon">
            </a>
            <span class="tooltiptext">Submit your ideas</span>
        </div>
        <div class="icon-container">
            <a href="" target="_blank" rel="noopener">
                <img src="assets/img/thumb-up-down.jpg" alt="Link Icon">
            </a>
            <span class="tooltiptext">Give us Feedback</span>
        </div>

        <div class="icon-container" *ngIf="userRole === 'admin'">
            <a href="./assets/docs/RTWA_Technical_Documentation.pdf" target="_blank" rel="noopener">
                <img src="assets/img/document-pdf.png" alt="Link Icon">
            </a>
            <span class="tooltiptext">Technical Documentation</span>
        </div>

    </div>
</div>