<div class="div sidebar-wrapper">
	<div class="sidebar close" [ngClass]="{'close': isSidebarClosed}">
		<section class="sidebar" id="sidebar">

			<nav>
				<ul class="top-nav">
					<li>
						<div class="home-content">
							<img class="close-menu" src="assets/img/menu.png" alt="" (click)="toggleSidebar()">
						</div>
					</li>
					<li>
						<a routerLink="/home">
							<img src="assets/img/home.png" alt="">
							<div class="text">
								Home
							</div>
						</a>
					</li>
					<li *ngIf="userRole === 'admin'">
						<a routerLink="/dashboard">
							<img src="assets/img/business.png" alt="">
							<div class="text">
								Dashboard
							</div>
						</a>
					</li>
					<li>
						<a routerLink="/offer">
							<img src="assets/img/user-add.png" alt="">
							<div class="text">
								Personnel Offer
							</div>
						</a>
					</li>
					<li>
						<a routerLink="/demand">
							<img src="assets/img/user-remove.png" alt="">
							<div class="text">
								Personnel Demand
							</div>
						</a>
					</li>
				</ul>
				<ul class="bottom-nav">
					<li>
						<a>
							<img src="assets/img/my-brand-frame.png" alt="">
							<div class="text">
								{{this.user}}
							</div>
						</a>
					</li>
					<li>
						<a>
							<img src="assets/img/security-lock-white.png" alt="">
							<div class="text" style="text-transform: capitalize;">{{ this.userRole }} role</div>
						</a>
					</li>
					<li *ngIf="userRole !== 'admin' && !hasRequestedHigherRole">
						<a (click)="openPopUp()">
							<img src="assets/img/upgrade.png">
							<div class="text">Request Role Upgrade</div>
						</a>
					</li>
					<li *ngIf="userRole == 'admin' && requestsAvailable">
						<a (click)="openRequestsDialog()">
							<img src="assets/img/upgrade.png">
							<div class="text">Requested Role Upgrade</div>
						</a>
					</li>
					<li>
						<a class="pointer" (click)="logOut()">
							<img src="assets/img/logout.png">
							<div class="text">Log Out</div>
						</a>
					</li>
				</ul>
			</nav>
		</section>
	</div>
</div>
<router-outlet></router-outlet>