<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>

<div class="top-right-corner">
    <select class="form-select" (change)="changeLang($event)">
        <option [selected]="lang === 'en'" value="en">{{ 'english' | translate }}</option>
        <option [selected]="lang === 'ro'" value="ro">{{ 'romanian' | translate }}</option>
    </select>
</div>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form #myForm="ngForm" [formGroup]="registerForm">
                <h1>{{"create account" | translate}}</h1>

                <input type="text" formControlName="fullname" name="username" [(ngModel)]="registerObj.fullname"
                    placeholder="{{'name' | translate}}" required>

                <div style="color: red;" *ngIf="registerForm.controls['fullname'].invalid 
                && registerForm.controls['fullname'].touched">{{"name is required!" | translate}}</div>

                <input type="email" formControlName="email" name="email" [(ngModel)]="registerObj.email "
                    placeholder="{{'Email' | translate}}" required>
                <div 
                    *ngIf="registerForm.controls['email'].invalid
                    && registerForm.controls['email'].touched 
                    && registerForm.controls['email'].touched">
                    <div style="color: red;" *ngIf="registerForm.controls['email'].errors?.['required']">{{"email required" | translate}}</div>
                    <div style="color: red;" *ngIf="registerForm.controls['email'].errors?.['email']">{{"invalid email." | translate}}</div>
                </div>

                <input type="password" formControlName="password" placeholder="{{'Password' | translate}}">
                <div style="color: red;" *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">{{"password is required!" | translate}}</div>
                
                <input type="password" formControlName="confirmPassword" placeholder="{{'Confirm Password' | translate}}">
                <div style="color: red;" *ngIf="registerForm.hasError('notSame') && registerForm.controls['confirmPassword'].touched">{{"passwords do not match!" |translate}}</div>


                <button (click)="onRegister()" mat-button class="submit-btn" type="submit" id="submit-btn2"
                    [disabled]="!myForm.form.valid"
                    [ngStyle]="{'background-color': !myForm.form.valid ? '#808080' : '', 'border':!myForm.form.valid ? '1px solid #808080' : ''}">{{"SignUp" | translate}}</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form #myForm1="ngForm" [formGroup]="loginForm">
                <h1>{{"Sign In" | translate}}</h1>
                <input type="email" formControlName="email" name="email" [(ngModel)]="loginObj.email"
                    placeholder="{{'Email' | translate}}" required>

                <div style="color: red;"
                    *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched && loginForm.controls['email'].touched">

                    <div *ngIf="loginForm.controls['email'].errors?.['required']">{{"email required" | translate}}</div>

                    <div *ngIf="loginForm.controls['email'].errors?.['email']">{{"invalid email." | translate}}</div>
                </div>

                <input type="password" formControlName="password" name="password" [(ngModel)]="loginObj.password"
                    placeholder="{{'Password' | translate}}" required>

                <div style="color: red;" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">{{"password is required!" | translate}}</div>


                <button (click)="onLogIn()" mat-button class="submit-btn" type="submit" id="submit-btn1"
                    [disabled]="!myForm1.form.valid"
                    [ngStyle]="{'background-color': !myForm1.form.valid ? '#808080' : '', 'border':!myForm1.form.valid ? '1px solid #808080' : ''}">{{"Sign In" | translate}}</button>
            </form>

        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>{{"Welcome Back!" | translate}}</h1>
                    <p>{{"Enter your personal details to use all of site features" | translate}}</p>
                    <button class="hidden" id="login">{{"Sign In" | translate}}</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>{{"Hello!" | translate}}</h1>
                    <p>{{"Register with your personal details to use all of site features" | translate}}</p>
                    <button class="hidden" id="register">{{"SignUp" | translate}}</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>