.landing-page {
    text-align: center;
    margin-left: 80px;
    padding-bottom: 10000px;
    transition: margin-left 0.5s ease;
    overflow-y: auto;
    position: relative;
}

.open {
    margin-left: 240px;
    transition: margin-left 0.5s ease;
}

.custom-date-lack {
    border-bottom: 5px solid #800080 !important;
    border-radius: 0;
}

.custom-date-surplus {
    border-bottom: 5px solid black !important;
    border-radius: 0;
}

.custom-date-both {
    border-bottom: 5px solid #00629A !important;
    border-radius: 0;
}



.home-table-title {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 !important;
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    text-decoration: underline;
    position: relative;
    top: 50px;
}

::ng-deep ngb-datepicker .ngb-dp-weekday {
    color: black !important;
}


.custom-day {
    padding: 0.25rem 0.5rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.custom-day:hover {
    border: 1px solid #007bff;
}

.custom-day.highlight {
    background-color: #007bff;
    color: white;
}

.custom-day.highlight:hover {
    background-color: #0056b3;
    border-color: #0056b3;

}
.ngb-dp-months {
        background: white !important;
    }