<sidemenu (sideMenuState)="isSideMenuClosed = $event"></sidemenu>
<div class="landing-page" [ngClass]="{'open': !isSideMenuClosed}">
	<header></header>
	<h1>Home</h1>

	<div *ngIf="calendar" class="calendar">
		<mat-card>
			<mat-calendar [(selected)]="selectedCurrentMonth" [dateClass]="dateClass"
				(selectedChange)="onDateSelected($event, 1)" [class.selected] = "currentCalendar === 'current'">
			</mat-calendar>
		</mat-card>
		<mat-card>
			<mat-calendar [(selected)]="selectedNextMonth" [dateClass]="dateClass"
				(selectedChange)="onDateSelected($event, 2)" [startAt]="startAt" [class.selected] = "currentCalendar === 'next'">
			</mat-calendar>
		</mat-card>
	</div>

	<app-legend></app-legend>
	
	<ng-container class="table" *ngIf="sendData && sendData.length > 0">
			<h3 class="home-table-title">Packages for {{date | date: 'dd MMM yyyy'}}</h3>
		<app-material-table [data]="sendData"></app-material-table>
	</ng-container>

</div>
