.landing-page {
    text-align: center;
    margin-left: 80px;
    padding-bottom: 10000px;
    transition: margin-left 0.5s ease;
    overflow-y: auto;
    position: relative;
}

.open {
    margin-left: 240px;
    transition: margin-left 0.5s ease;
}

.custom-date-lack {
    border-bottom: 5px solid #800080 !important;
    border-radius: 0;
}

.custom-date-surplus {
    border-bottom: 5px solid black !important;
    border-radius: 0;
}

.custom-date-both {
    border-bottom: 5px solid #00629A !important;
    border-radius: 0;
}

.calendar {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: -40px;
}

.calendar .mat-calendar {
    display: inline-block;
    width: 300px;

}

.mat-calendar-content,
.mat-calendar-header,
.mat-calendar-table-header th,
.mat-calendar-controls {
    padding: 0 !important;
    margin: 0 !important;
}

.mat-calendar-body-cell {
    font-size: 20px;
}

.mat-calendar-body-cell {
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: default;
}

button:hover {
    transform: none;
}

.mat-calendar-body-cell:hover {
    background-color: transparent;
    color: inherit;
}

.home-table-title {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 !important;
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    text-decoration: underline;
    position: relative;
    top: 50px;
}

.mat-calendar-body-selected {
    background-color: transparent !important;
    border: none !important;
    color: black !important;
}

.selected .mat-calendar-body-selected {
    background-color: #00629A !important;
    border: none !important;
    color: white !important;
}


.mat-calendar-table-header-divider::after {
    left: 0px !important;
    right: 0px !important;
}