<mat-form-field>
    <mat-label>Select an interval</mat-label>
    <mat-date-range-input [rangePicker]="picker" required>
        <input matStartDate (dateChange)="onDateChange($event, true)" placeholder="Start date" #startDateInput >
        <input matEndDate (dateChange)="onDateChange($event, false)" placeholder="End date" #endDateInput >
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
        
</mat-form-field>

